{% extends 'menu.html' %}

{% block title %}

    <title>tagcloud</title>

{% endblock%}

{% block content %}
{% load staticfiles %}
	
<meta charset="UTF-8">
<!-- <h1>mi texto es {{lista}} </h1>  -->
    <div class="form-group",class="btn btn-success">
		<form method="post" >
		    {% csrf_token %}
		    {{ form}}
		    
		</form>		
	   </div>  

	<script src="{% static 'js/jquery.min.js'%}" ></script>
	<script src="{% static 'js/jqcloud-1.0.4.js'%}"></script>
	<link rel="stylesheet" href="{% static 'css/jqcloud.css'%}">

<script type="text/javascript">
var a ={{obj| safe}};
var b ={{array_para_hash| safe}};


      $(function() {
        // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
        $("#example").jQCloud(a);
      });

	      $(function() {
        // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
        $("#otrotag").jQCloud(b);
      });

 </script>

  <h3 align="center"> Palabras mas relevantes usadas en las peliculas</h3>
  <div id="example" style="width: 1000px; height: 600px;"></div> 

<div class="row-fluid">


    <div class="col-xs-12 col-sm-8 col-md-12" id="col1">
        <h1 align="center">A 'Moving' Visit to the Hermitage</h1>
    <img src="static/images/tagcloud/A 'Moving' Visit to the Hermitage.png" >


            <h1 align="center">Adventures of Christopher Bosh in the Multiverse</h1>
    <img src="static/images/tagcloud/Adventures of Christopher Bosh in the Multiverse.png" >

            <h1 align="center">Ai Bu Ji </h1>
    <img src="static/images/tagcloud/Ai Bu Ji.png" >

            <h1 align="center">Ask This of Rikyu</h1>
    <img src="static/images/tagcloud/Ask This of Rikyu.png" >

            <h1 align="center">Aurally </h1>
    <img src="static/images/tagcloud/Aurally.png " >

            <h1 align="center">Basketball</h1>
    <img src="static/images/tagcloud/Basketball.png" >

            <h1 align="center">Bloom</h1>
    <img src="static/images/tagcloud/Bloom.png" >

            <h1 align="center">Brain Damage</h1>
    <img src="static/images/tagcloud/Brain Damage.png" >

            <h1 align="center">Brooklyn</h1>
    <img src="static/images/tagcloud/Brooklyn.png" >

            <h1 align="center">Campground Crazies</h1>
    <img src="static/images/tagcloud/Campground Crazies.png" >

            <h1 align="center">Cat</h1>
    <img src="static/images/tagcloud/Cat.png" >

            <h1 align="center">Cativeiro</h1>
    <img src="static/images/tagcloud/Cativeiro.png" >

            <h1 align="center">Chagrin</h1>
    <img src="static/images/tagcloud/Chagrin.png" >

            <h1 align="center">Cinque cerchi roventi</h1>
    <img src="static/images/tagcloud/Cinque cerchi roventi.png" >

            <h1 align="center">City Under Siege </h1>
    <img src="static/images/tagcloud/City Under Siege.png" >

            <h1 align="center">CMT Top 20 Countdown </h1>
    <img src="static/images/tagcloud/CMT Top 20 Countdown.png" >

            <h1 align="center">Copy...</h1>
    <img src="static/images/tagcloud/Copy....png" >

            <h1 align="center">Creamen </h1>
    <img src="static/images/tagcloud/Creamen.png" >

            <h1 align="center">Dead Good</h1>
    <img src="static/images/tagcloud/Dead Good.png" >

            <h1 align="center">DJ Wants Rooftop Party Pad in the Heart of Chicago </h1>
    <img src="static/images/tagcloud/DJ Wants Rooftop Party Pad in the Heart of Chicago.png" >

            <h1 align="center">Don't Hug Me I'm Scared </h1>
    <img src="static/images/tagcloud/Don't Hug Me I'm Scared.png" >

            <h1 align="center">Dreamline</h1>
    <img src="static/images/tagcloud/Dreamline.png" >

            <h1 align="center">Dreams Deferred </h1>
    <img src="static/images/tagcloud/Dreams Deferred.png" >

            <h1 align="center">Drug Kings of New York </h1>
    <img src="static/images/tagcloud/Drug Kings of New York.png" >

            <h1 align="center">Ekki Mukk</h1>
    <img src="static/images/tagcloud/Ekki Mukk.png" >

            <h1 align="center"> </h1>
    <img src="static/images/tagcloud/" >


    </div>


  </div>

{% endblock%}