Django==1.9.4
Jinja2==2.7.2
MarkupSafe==0.18
PAM==0.4.2
Pillow==3.2.0
Pygments==1.6
Sphinx==1.2.2
Twisted-Core==13.2.0
Twisted-Web==13.2.0
TwitterSearch==1.0.1
apt-xapian-index==0.45
argparse==1.2.1
awscli==1.10.19
boto==2.39.0
boto3==1.3.0
botocore==1.4.10
chardet==2.0.1
colorama==0.2.5
command-not-found==0.3
debtagshw==0.1
defer==1.0.6
dirspec==13.10
dj-config-url==0.1.1
dj-database-url==0.4.1
dj-static==0.0.6
django-browserid==2.0.1
django-classy-tags==0.7.2
django-common-helpers==0.8.0
django-cron==0.4.6
django-dynamodb-sessions==0.6
django-heroku-memcacheify==1.0.0
django-missing==0.1.18
django-mongo-auth==0.1.2
django-pylibmc==0.6.1
django-sekizai==0.9.0
django-storages==1.4.1
django-toolbelt==0.0.1
docutils==0.12
elasticache-pyclient==2.0
futures==3.0.5
gunicorn==19.4.5
hash-ring==1.3.1
html5lib==0.999
httplib2==0.8
image==1.4.4
jmespath==0.9.0
lxml==3.3.3
mongoengine==0.8.0
ndg-httpsclient==0.4.2
oauth==1.0.1
oauth2==1.9.0.post1
oauthlib==1.0.3
oneconf==0.3.7.14.04.1
pexpect==3.1
piston-mini-client==0.7.5
psutil==1.2.1
psycopg2==2.6.1
pyOpenSSL==0.13
pyasn1==0.1.9
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pygobject==3.12.0
pylibmc==1.5.1
pymongo==3.2.2
pyserial==2.6
pysmbc==1.0.14.1
python-apt==0.9.3.5ubuntu2
python-dateutil==2.5.2
python-debian==0.1.21-nmu2ubuntu2
python-http-client==1.2.3
python-memcached==1.57
pyxdg==0.25
reportlab==3.0
requests==2.9.1
requests-oauthlib==0.6.1
roman==2.0.0
rsa==3.3
s3transfer==0.0.1
sendgrid==2.2.1
sessioninstaller==0.0.0
six==1.10.0
smtpapi==0.3.1
software-center-aptd-plugins==0.0.0
static3==0.6.1
tweepy==3.3.0
twitter==1.17.1
twython==3.4.0
urllib3==1.7.1
virtualenv==1.11.4
wheel==0.24.0
wsgiref==0.1.2
zope.interface==4.0.5
